@{
  Layout = "_Layout";
  ViewData["Title"] = "Home";
  ViewData["Description"] = "A simple and noninvasive file sharing host for content shared in Telegram. You send it a message with some kind of content and it gives you a link you can share anywhere even outside of Telegram! Contact @PlzOpenMeBot on Telegram to get started!";
  
}

<i data-fa-symbol="share" class="fas fa-share-alt fa-fw"></i>
<i data-fa-symbol="instant" class="fas fa-bolt fa-fw"></i>
<i data-fa-symbol="private" class="fas fa-user-secret fa-fw"></i>
<i data-fa-symbol="seamless" class="fab fa-telegram-plane fa-fw"></i>
<i data-fa-symbol="secure" class="fas fa-user-lock fa-fw"></i>
<i data-fa-symbol="crossPlatform" class="fas fa-network-wired fa-fw"></i>
<i data-fa-symbol="free" class="fab fa-creative-commons-nc fa-fw"></i>
<i data-fa-symbol="openSource" class="fab fa-osi fa-fw"></i>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="img/pomLogo.svg" alt="PlzOpen.Me Logo" width="auto" height="150">
  <h1 class="display-5 fw-bold">Welcome to PlzOpen.Me</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      A simple and noninvasive file sharing host for content shared in Telegram. You send it a message with some kind of content and it gives you a link you can share anywhere even outside of Telegram! Contact PlzOpenMeBot on Telegram to get started! 
    </p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-success btn-lg px-4 gap-3">Start Sharing</button>
      <button type="button" class="btn btn-outline-info btn-lg px-4">Learn More</button>
    </div>
  </div>
</div>

<div class="container px-4 py-5" id="icon-grid">
  <h2 class="pb-2 border-bottom text-center">Why use PlzOpen.Me?</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg class="bi text-success flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#share"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Shareable</h4>
        <p>Share Telegram content anywhere, with anyone, through any app.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-warning flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#instant"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Instant results</h4>
        <p>No need to download anything, the bot handles it all for you.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-info flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#private"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Private</h4>
        <p>We do not and will never ask for any of your personal details.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-primary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#seamless"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Seamless</h4>
        <p>Everything is built into Telegram, you never even leave the app.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-info flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#secure"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Secure</h4>
        <p>All traffic is encrypted and files are scanned for malware.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-primary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#crossPlatform"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Cross platform</h4>
        <p>Open the link anywhere, on any device, even on mobile.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-success flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#free"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Free</h4>
        <p>There are no hidden fees or upfront costs, totally free to use.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg class="bi text-warning flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#openSource"></use></svg>
      <div>
        <h4 class="fw-bold mb-0">Open source</h4>
        <p>Want to see what we are storing? Check out the projects GitHub!</p>
      </div>
    </div>
  </div>
</div>
