@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<section class="jumbotron text-center rounded-0">
    <div class="container">
        <h2>Welcome to PlzOpen.Me</h2>
        <p class="lead">
            Share your Telegram files with anyone, reguardless of platform!
        </p>
        <p>
            <a href="#" class="btn btn-success my-2">Get started</a>
            <a href="#" class="btn btn-info my-2">How it works</a>
        </p>
    </div>
</section>

<div class="container">
    
</div>