@{
    Layout = "_Layout";
    ViewData["Title"] = "Terms Of Service";
}

<section class="jumbotron text-center rounded-0">
    <div class="container">
        <h2>@ViewData["Title"]</h2>
        <p class="lead">
            Rules for PlzOpen.Me and how we enforce them.
        </p>
    </div>
</section>

<div class="container mt-4">
    <div class="card border-primary mb-3 shadow">
        <div class="card-header">A message from the developer</div>
        <div class="card-body">
            <p class="card-text">
                PlzOpen.Me is a side project of mine. I'm a single dude with no money or resources really, I'm just having a bit 
                of fun. I'm not trying to make money off this. I just wanted to work with Telegram's bot API.
                <br><br>
                I don't have the money to hire a lawyer to write this document, I'm writing this by hand using my common sense. 
                This is an open source project and if you are truely worried about what information I'm collecting and sharing 
                I encourage you to go to my repository and look through my code! I'm not going to say that it's the best, most 
                efficient code ever but I'm rather proud of what I have accomplished.
                <br><br>
                I also am not located in the European Union and I can't say that I fully understand all of the in's and out's of 
                the General Data Protection Regulation (GDPR). However, I'm trying my best to be complient, honest, and transperent 
                about what information is gathered and how that information is used.
                <br><br>
                So, as you read this, keep in mind that this is just a side project form someone just trying to have a bit of 
                honest fun. Please don't try to sue me, I'm flat broke! Thanks!
            </p>
        </div>
        <div class="card-footer text-muted">
            Umdoobby
        </div>
    </div>
    
    <div class="pt-2 pb-2">
        <h3>Introduction</h3>
        <hr  class="border-primary pb-1"/>
        <p>
            PlzOpen.Me is a two sided web service with a public interface that will be called the "web" interface and an 
            interface through Telegram's bot API that will be called the "user" interface. Despite this dicotamy these, rules 
            apply people viewing the web interface or interacting with the user interface. The primary way to communicating with 
            PlzOpen.Me is via the user interface. The web interface is for the consumption of the media uploaded to PlzOpen.Me.
        </p>
        <p>
            Here I will be outlining the rights granted to you, the users and visitors of Plz.Open.Me, and the rights I have 
            as the administrator and owner of PlzOpen.Me. It's important that you understand what you are allowed to do with 
            PlzOpen.Me and what I do to enforce those rules. Not to mention what I do to try and ensure a safe, fair, and 
            just environment. 
        </p>
    </div>
    
    <div class="pt-2 pb-2">
        <h3>Changes to this agreement</h3>
        <hr  class="border-primary pb-1"/>
        <p>
            PlzOpen.Me is trying hard to collect as little information as needed from it's users. This makes the platform 
            super privacy friendly and easy to use, however, it does leave me without a way to announce changes to this 
            terms of service of the Privacy Policy. To make up for this, there is a Telegram group where changes and updates 
            to this terms of service and the privacy policy will be announced. The PlzOpen.Me linked this group to you 
            when you agreed to the terms to use the bot. If you lost that message or deleted it, you can join the group 
            <a href="" target="_blank" title="pomUpdates on Telegram">here</a>.
        </p>
    </div>
    
    <div class="pt-2 pb-2">
        <h3>Important note</h3>
        <hr  class="border-primary pb-1"/>
        <p>
            PlzOpen.Me is a side project of mine. I'm a single dude with no money or resources really, I'm just having a bit 
            of fun. I'm not trying to make money off this. I just wanted to work with Telegram's bot API.
        </p>
    </div>
    
    <div class="pt-2 pb-2">
        <h3>Important note</h3>
        <hr  class="border-primary pb-1"/>
        <p>
            PlzOpen.Me is a side project of mine. I'm a single dude with no money or resources really, I'm just having a bit 
            of fun. I'm not trying to make money off this. I just wanted to work with Telegram's bot API.
        </p>
    </div>

</div>


