<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PlzOpen.Me &#183; @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom border-secondary box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlzOpenMe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top border-dark footer text-dark bg-light shadow">
    <div class="container">
        <i class="fas fa-copyright"></i> 2021 - PlzOpen.Me 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Service</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/fontawesome/dist/js/all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>