<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>PlzOpen.Me &#183; @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootswatch/cyborg/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/fontawesome/dist/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>


<div class="container">
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom border-primary">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">PlzOpen.Me</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Prices</a></li>
        <li class="nav-item"><a href="#" class="nav-link">GitHub</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
    </ul>
</header>
</div>

<main role="main" class="pb-3">
    @RenderBody()
</main>


<footer class="border-top border-dark footer text-dark bg-light shadow">
    <div class="container">
        <i class="fas fa-copyright"></i> 2021 - PlzOpen.Me 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> 
        <i class="fas fa-grip-lines-vertical"></i> 
        <a asp-area="" asp-controller="Home" asp-action="Terms">Terms of Service</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/fontawesome/dist/js/all.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>